---
import { Image } from 'astro:assets'
import InterestedButton from './InterestedButton.astro'

const { item } = Astro.props
---

<div
  class="flex flex-col items-center bg-gradient-to-b from-blue-50 to-white px-6 py-8 sm:px-8 sm:py-12 lg:px-16 lg:py-20"
>
  <h1 class="text-3xl sm:text-4xl lg:text-5xl font-semibold text-red-400 mb-4">
    {item.data.name}
  </h1>
  <p
    class="text-lg sm:text-xl lg:text-2xl text-gray-600 max-w-3xl text-center mb-8"
  >
    {item.data.description}
  </p>

  <Image
    src={item.data.image}
    alt={`Image ${item.data.name} `}
    width={720}
    height={400}
    class="object-contain rounded-xl"
    aria-placeholder={`Image ${item.data.name} `}
  />
  <InterestedButton item={item} />

  <p class="text-center mt-6 text-2xl">
    <a href="/" class="text-blue-600 hover:underline font-medium"> Go back </a>
  </p>
</div>
