---
import { getCollection } from 'astro:content';
import ZoomableImage from '@/components/ui/zoomable-image'

const items = await getCollection('items')
const enabledItems = items.filter((item) => item.data.enabled)
const diabledItems = items.filter((item) => !item.data.enabled)

const getOwnerColor = (owner:string | null) => {
  switch (owner) {
    case 'Federico Magari침os':
      return 'text-blue-500'; // Color para Federico
    case 'Josefina Magari침os':
      return 'text-green-500'; // Color para Josefina
    case 'Ana Magari침os':
      return 'text-purple-500'; // Color para Ana
    case 'Edmundo Beckford':
      return 'text-orange-500'; // Color para Pap치
    case 'Joaquin Aguero':
      return 'text-pink-500'; // Color para Florencia
    default:
      return 'text-gray-500'; // Color por defecto
  }
};

---

<main class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold mb-8 text-center">Moving Sale - Household Items</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {enabledItems.map((item) => (
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <ZoomableImage
          src={item.data.image}
          alt={item.data.name}
          client:load
        />
        <div class="p-4">
          <h2 class="text-xl font-semibold mb-2">{item.data.name}</h2>

          <p class="text-gray-600 mb-2">${(item.data.price / 1000).toFixed(3)}</p>
          {item.data.description && (
            <p class="text-sm text-gray-500">{item.data.description}</p>
          )}
        </div>
      </div>
    ))}
  </div>


  <!-- <div class="bg-gray-300 p-4">
  <h1 class="text-4xl font-bold my-8 text-center">
    Items no disponibles
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {diabledItems.map((item) => (
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <ZoomableImage
          src={item.data.image}
          alt={item.data.name}
          client:load
        />
        <div class="p-4">
          <h2 class="text-xl font-semibold mb-2">{item.data.name}</h2>
  <div class={`${getOwnerColor(item.data.owner)} text-lg`}>
  {item.data.owner}
</div>

          <p class="text-gray-600 mb-2">${(item.data.price / 1000).toFixed(3)}</p>
          {item.data.description && (
            <p class="text-sm text-gray-500">{item.data.description}</p>
          )}
        </div>
      </div>
    ))}
  </div> -->

</div>

</main>
